@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');

.info{
    padding-top: 20px;
}
.info, .folkert, .xr{
    font-family: 'Baloo 2', cursive;
}
footer{
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: 20px;
 }

 body{
 	 background-color:blue;
 }
 