@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html{
    scroll-behavior: smooth;
}
.info{
    padding-top: 20px;
}
.info, .folkert, .xr{
    font-family: 'Baloo 2', cursive;
    margin-bottom: 10px;
    margin-top: 10px;
    color: wheat;
    text-decoration: none;
    display: block;
    padding: 20px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    
}
.title{
    border-left: solid 9px rgb(113, 113, 255);
    border-right: solid 9px rgb(113, 113, 255);
    padding-left: 9px;
    background-color: rgb(85, 85, 255);
    margin-bottom: 0px;
    font-family: 'Ubuntu', sans-serif;
}

footer{
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding:20px;
    margin-top: 10px;
    margin-bottom: 0px;
 }
a-scene{
    width:800px;
    height:520px;
}

 body{
      background-color:rgb(77, 77, 158);
      font-size: 23px;
      overflow-x: hidden;
      max-width: 100%;
      height: auto; 
 }
 p{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
 }
 nav{
    background-color: rgb(74, 74, 216);
    border-left: solid 9px rgb(113, 113, 255);
    border-right: solid 9px rgb(113, 113, 255);
    margin-top: 0px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: auto;
    margin-right: auto;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav li{
    flex: 1 0 330px;
}
nav li + li{
    border-left: solid 4px rgb(113, 113, 255);
}
nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: center;
}
nav a:hover{
    background-color:black;
    color:white;
}
#titel1{
    margin-top: 100px;
}

#extraText{
    text-align: center;
    font-family: 'Baloo 2', cursive;
    color:wheat;
    font-size: 50px;
}
#lam{
    margin-top: 50px;
    width: 600px;
    height: 380px;
    border: solid 9px rgb(0, 0, 170);
}
ul {
    text-align: center;
    list-style-position: inside;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }