@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html{
    scroll-behavior: smooth;
}
.info{
    padding-top: 10px;
}
.info, .folkert, .xr{
    font-family: 'Baloo 2', cursive;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    padding: 20px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    
}
.title{
    border-top: solid 9px rgb(184, 176, 162);
    border-left: solid 9px rgb(184, 176, 162);
    border-right: solid 9px rgb(184, 176, 162);
    padding-left: 9px;
    background-color: wheat;
    margin-bottom: 0px;
    font-family: 'Ubuntu', sans-serif;
}

footer{
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #503c2e;
    color: rgb(255, 235, 197);
    padding:20px;
    margin-top: 10px;
    margin-bottom: 0px;
 }


body{
      background-color:#997054;
      font-size: 23px;
      overflow-x: hidden;
      max-width: 100%;
      height: auto; 
 }
 p{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
 }
 nav{
    background-color: wheat;
    border-left: solid 9px rgb(184, 176, 162);
    border-right: solid 9px rgb(184, 176, 162);
    border-top: solid 4px rgb(184, 176, 162);
    margin-top: 0px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: auto;
    margin-right: auto;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav li{
    flex: 1 0 330px;
}
nav li + li{
    border-left: solid 4px rgb(184, 176, 162);
}
nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: center;
}
nav a:hover{
    background-color:black;
    color:white;
}
#titel1{
    margin-top: 100px;
}

#extraText{
    text-align: center;
    font-family: 'Baloo 2', cursive;
    color:rgb(0, 0, 0);
    font-size: 50px;
    color:wheat;
}
#lam{
    margin-top: 50px;
    margin-bottom: 40px;
    width: 600px;
    height: 380px;
    border: solid 9px rgb(184, 176, 162);
}
ul {
    text-align: center;
    list-style-position: inside;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#color{
    color:#997054;
}

#kader{
    background-color: rgb(209, 196, 171);
    padding-top: 2px;
    margin-top: 100px;
    margin-bottom: 0;
}
#kader1{
    background-color: #816a5b;
   padding-top: 10px;
}
#kader2{
    background-color: rgb(129, 126, 91);
    padding-top: 10px;
}
.paragraph{
    font-size: 30px;
}
/*Code Gemaakt door Tim de Vries*/
#slideShow{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: blanchedalmond;
    width: 720px;
    height: 620px;
}
#slideShow .slideImage{
    
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 600px;
}
#slideShow #slideToRight{
    position: relative;
    bottom: 50%;
    left: 87%;
    
}
#slideShow #slideToLeft{
    position: relative;
    bottom: 50%;
    left: 3%;
    
}
#slideShow .slideKnop{
    font-size: 40px;
    color: white;
    height: 10px;
    background-color: black;
    opacity: 60%;
    border-radius: 10%;
}